/* css/styles.css */
body {
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

body > .container {
  max-width: 1570px;
} 

.form-container {
  border: thin;
  border-style: solid;
  border-color: #8080805e;
  padding: 15px 15px;
}

#specialGroup {
  font-size: 15px;
  font-weight: 700;
}

#addRuleBtn {
  color: #4f81fe!important;
  padding: 4px 10px;
  font-weight: 500;
}

#deleteRuleSymbol {
  color: black;
}

.rules-container {
  border-color: lightgrey;
  border-style: dashed;
  padding: 10px;
  border-radius: 5px;
  border-width: thin;
  margin-bottom: 10px
}

.rules-condition-container {
  border-radius: 5px;
  background-color: #cccccc57;
  padding: 10px;
}

#specialGroupTag {
  font-weight: 400;
  margin-left: 10px;
}

#groupDescription {
  font-size: 15px;
  line-height: initial;
}

.card-body#revenueGroupTable {
  padding-bottom: inherit!important;
}

.revenue-group-table {
  overflow: auto;
  margin: 0px -15px;
  border-top: 1px solid lightgray;
  max-height: 247px;
}

.revenue-group-table > table > thead > tr > th {
  min-width: 100px;
  font-size: 15px;
  font-weight: 400;
  color: #6c757d;
}

.revenue-group-table > table > thead > tr > th:nth-child(1),
.revenue-group-table > table > tbody > tr > td:nth-child(1) {
  padding-left: 15px;
} 

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #e0f8ff7d
}

.revenue-group-table::-webkit-scrollbar {
  /* width: 5px; */
  background-color: rgb(240, 236, 230);
}

.revenue-group-table::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px; 
}

/* .revenue-group-table::-webkit-scrollbar-horizontal {
  height: 5px;
  background-color: rgb(240, 236, 230);
}

.revenue-group-table::-webkit-scrollbar-thumb-horizontal {
  background-color: #ccc;
  border-radius: 4px;
} */

.parameter {
  margin-bottom: 4px;
}

#deleteRevenueGroup img.delete-revenue-group {
  background-color: #d3d3d382;
  padding: 4px;
  border-radius: 15px;
}

#deleteRowIcon {
  opacity: 60%;
}

.card {
  margin-bottom: 20px;
}

.textarea-container {
  position: relative;
}

textarea#groupDescription {
  resize: none;
}

.letter-count {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #888;
    font-size: 12px;
}


    